.food-item {
    color: #2c3e50;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 550px;

}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 100%; /* Modifié pour s'adapter */
    object-fit: cover;
}

.food-item-img-container {
    height: 200px; 
    position: relative; /* Ajouté pour le positionnement */
}

.food-item-img-container .add {
    cursor: pointer;
    position: absolute; /* Positionnement absolu */
    bottom: 10px; /* Position par rapport au bas */
    right: 10px; /* Position par rapport à la droite */
    z-index: 1000; /* Assure qu'elle soit au-dessus */
    height: 40px;
    width: 40px;
}

.food-item-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; /* Assure-toi qu'il soit au-dessus de l'icône */
    gap: 10px;
    background-color:#fff;
    border-radius: 50px;
    padding: 2px 4px 2px 7px;
}



.food-item-counter img {
    cursor: pointer; 
    margin: 0 5px;
    
}


.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.food-item-desc {
    font-size: 18px;
    margin: 10px 0;
    color: #2c3e50;
}

.food-item-info {
    margin-top: 50px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Assure-toi que le contenu se pousse vers le bas */
}

.food-item-price {
    font-weight: bold;
    font-size: 1.4rem;
    color:  #fbb643;
    margin-top: auto; /* Pousse l'élément en bas */
}
.add-icon-orange{
    width: 30px; /* Ajuste la largeur souhaitée */
    height: 30px; /* Ajuste la hauteur souhaitée, si nécessaire */
}