.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #49557e;
    transition: 0.3s;
    animation: fadeIn 1s;

    background-color: #fff;
    /* Couleur de fond pour les items */

    overflow: hidden;
    /* Masquer le débordement */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    /* Ombre pour les items */
    transition: transform 0.3s;
    /* Transition pour effet de survol */
    display: flex;
    /* Affichage flexible pour le contenu */
    flex-direction: column;
    /* Disposition en colonne */
    height: 350px;
    /* Hauteur fixe pour les items */

}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-img-container {
    height: 200px;
    /* Hauteur fixe pour les images */
    overflow: hidden;
    /* Masquer le débordement */
}

.food-item-image {
    width: 100%;
    /* Prendre toute la largeur */
    height: 100%;
    /* Ajuster la hauteur pour remplir le conteneur */
    object-fit: cover;
    /* Couvrir le conteneur sans déformer l'image */
}

.food-item-info {
    padding: 20px;
    /* Espacement interne pour les infos */
    flex-grow: 1;
    /* Permet à cette section de prendre tout l'espace restant */
    display: flex;
    /* Affichage flexible pour le contenu */
    flex-direction: column;
    /* Disposition en colonne */
}

.food-item-name-rating {
    display: flex;
    /* Afficher le nom et la notation en ligne */
    justify-content: space-between;
    /* Espacement entre les éléments */
    align-items: center;
    /* Centrer verticalement */
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-weight: bold;
    font-size: 20px ;
}

.food-item-desc {
    font-size: 18px;
    margin: 10px 0;
    color: #2c3e50;
    
}

.food-item-price {
    font-size: 18px;
    color: #2c3e50;
   
}